/* Reset Styles for Consistency */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
.desktop {
	display: initial;
	}
.tablet {
	display: none;
}
.phone {
	display: none;
	}
.noscript { 
	display: initial; 
	}

body { 
	background-color:#f2edef; overflow: hidden; 
	font-family:'Trebuchet MS', Helvetica, Arial, sans-serif;
	font-size: 100;
	color: #000000;
	}
p#tocnavbar, span#searchscript { display: none; } 
* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}
div#pagewrapper {
	position:absolute;
	top: 0;
	bottom:0;
	left:0;
	right:0;
}

.navbar   { font-size: 1.156rem; font-weight: bold; }
.navbar a { color: #000000; }
.navbar a:visited { color: #000000; }
.navheadlink { cursor: pointer; text-decoration: underline; }

div#hmpageheader {
	position: relative;
	top: 0.35rem; left: 0.25rem;
	}
div#hmpagebody {
	position: absolute;
	top: 2.29rem; left: 0; right: 0; bottom: 0;
	overflow-y: auto;
	overflow-x: auto;
	border-style: solid;
	border-color: #c0c0c0;
	border-width: 1px 0 0 0;
	}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}   

div#tree {
	overflow: hidden;
	}

.heading { font-family: Arial,Helvetica; color: #000000; text-decoration: none; }
.heading.lv1 { font-size: 1.00rem; }
.heading.lv2 { font-size: 0.98rem; }
.heading.lv3 { font-size: 0.91rem; }
.heading.lv4 { font-size: 0.91rem; }
.heading.lv5 { font-size: 0.85rem; }
.heading.lv6 { font-size: 0.85rem; }

.hilight { font-family: Arial,Helvetica; color: #ffffff; text-decoration: none; }
.hilight.lv1 { font-size: 1.00rem;  }
.hilight.lv2 { font-size: 0.98rem;  }
.hilight.lv3 { font-size: 0.91rem;  }
.hilight.lv4 { font-size: 0.91rem;  }
.hilight.lv5 { font-size: 0.85rem;  }
.hilight.lv6 { font-size: 0.85rem;  }

/* TOC LIST CSS */
ul, li { margin: 0; padding: 0; }
ul#toc {
	padding:0;
	margin:0;
	position: relative;
	top: 0px; left: 0px;
	list-style-type: none;
	list-style-position: outside;
	background-color: transparent;
}

ul#toc li {
	margin-top:0px;
	list-style-type: none;
	list-style-position: outside;
	background-color: transparent;
	}
ul#toc ul {
	margin-left: 0
	list-style-type: none;
	list-style-position: outside;
	background-color: transparent;
}
ul#toc a {
	position: relative;
	display: block;
	margin: 0;
	padding: 2px;
	background-color: transparent; 
}

ul#toc a.lv2 {
	padding-left: 23px;
}
ul#toc a.lv3 {
	padding-left: 46px;
}	

ul#toc a.chapter {
	margin-top: -1px;
	border-width: 1px 0px;
	border-style: solid;
	border-color: #c0c0c0;
}

ul#toc a.heading, ul#toc a.heading span  {
	background-color: #ffffff;
	white-space: nowrap;
	color: #000000;
}
ul#toc a.heading:hover, ul#toc a.heading:hover span  {
	background-color: #c0c0c0;
	color: #ffffff;
}

ul#toc a.hilight, ul#toc a.hilight span {
	background-color: #735552;
	white-space: nowrap;
	font-weight: bold;
}

ul#toc a.hilight:hover, ul#toc a.hilight:hover span {
	background-color: #735552;
	font-weight: bold;
}	

a.chapter span {
	font-weight:bold;
	padding-left: 23px;
}
a.chapterclosed span {
	background-image: url('../images/toc_chapter_closed.png');
	background-position: 2px 0px;
	background-repeat: no-repeat;
}

a.chapteropen span {
	background-image: url('../images/toc_chapter_open.png');
	background-position: 3px -1px;
	background-repeat: no-repeat;
}

a.topic span {
	background-image: url('../images/toc_topic.png');
	background-position: -5px -1px;
	background-repeat: no-repeat;
	padding-left: 12px;
}
	
/* TOC LIST CSS */
